<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add company
    </title>
<style>

 #form-div {
          background-color: rgb(207, 207, 207);
          text-align: center;
          width: 35%;
          margin: 100px auto;
          padding: 20px 0;
          border-radius: 15px;
          box-shadow: 0 15px 15px rgb(63, 63, 63);

      }
</style>
</head>
 {% extends "homepages.html" %}
{% block title %} Displaying model data {% endblock title %}
{% block content %}
<body>
<div id="form-div"><center>
<form method="post" enctype="multipart/form-data" class="form-inline"><br><br>
 <h3>COMPANY REGISTRATION</h3><br>
    {% csrf_token %}
    {{form.as_p}}

    <input class="user-input-btn" type="submit" value="ADD">

</form>
    </center>
</div>
</body>
{% endblock content %}
</html>