<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user list</title>
    <style>
        #customers {font-family: Arial, Helvetica, sans-serif;border-collapse: collapse;width: 70%;}
        #customers td, #customers th { border: 1px solid #ddd;padding: 8px;}
        #customers tr:nth-child(even){background-color: #f2f2f2;}
        #customers tr:hover {background-color: #ddd;}
        #customers th { padding-top: 12px;padding-bottom: 12px;text-align: left;background-color: #04AA6D;color: white;}
    </style>
</head>
{% extends "adminpages.html" %}
{% block title %} Displaying model data {% endblock title %}
{% block content %}
<body><center>
    <br><br>
    <h2>USER DETAILS</h2>
<table border="2" id="customers">
   <tr>
       <th> FIRST NAME</th>
    <th>LAST NAME</th>
    <th>DOB</th>
    <th>PHONE NO</th>
    <th>AADHAR NO</th>
    <th>EMAIL</th>
    <th>GENDER</th>
       <tr>
    {% for i in a %}

<tr>
    <td>{{i.ufirst}}</td>
    <td>{{i.ulast}}</td>
    <td>{{i.udob}}</td>
    <td>{{i.uphone}}</td>
    <td>{{i.uaadhar}}</td>
    <td>{{i.uemail}}</td>
    <td>{{i.ugender}}</td>
</tr>

   {% endfor %}
</table>
</center>
</body>
{% endblock content %}
</html>